@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

/* * {
    border: 1px dashed white;
} */

body {
    background-color: rgb(14, 21, 29);
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-family: 'Red Hat Mono', monospace;
}

/* Calculator general */
.calculator-container {
    margin: auto;
    width: 500px;
    height: 700px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgb(36,52,71);
}
.calculator-container, .display-operation, .display-result {
    box-sizing: border-box;
}

/* Display styles */
.calculator-display {
    background-color: rgb(14, 14, 14);
    height: 200px;
    display: flex;
    flex-direction: column;
}
.display-result {
    font-size: 85px;
    text-align: right;
    color: rgb(0,231,138);
}
.display-operation {
    font-size: 45px;
    text-align: right;
}

/* Buttons styles */
.calculator-buttons, .row-buttons, .button {
    box-sizing: border-box;
}
.calculator-buttons {
    flex: auto;
}
.row-buttons {
    display: flex;
}
.button {
    background-color: rgb(36,52,71);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid rgb(14, 21, 29);
}
.button-operator {
    background-color: rgb(14, 21, 29);
    color: rgb(0,231,138);
}
.operator {
    color: rgb(0,231,138);
}
#delete, #clear, #percentage {
    color: rgb(255,207,0);
}
#equal {
    background-color: rgb(0,231,138);
    color: rgb(14, 21, 29);
}